$black-color: #000;
$white-color: #fff;
$green-color: #1aab4d;
$header-footer-color: #006aaf;
$border-btn-color: #dedede;
$bg-footer-color: #dfdac0;
$grey-color: #747474;
$voodoo-linl-color: #1f1c17;
$l-black: #303030;
$fo-border-btn-color: #c5c2ae;
$body-backg-color: #f7f2df;
$title-color: #1f1c17;
$menu-item-color: #017bcb;
$callback-color: #005795;
$ligth-grey-color: #868686;
$hover-img-color: #1a8d42;




//Slider
$numOfSlides: 3;
$slidingAT: 1.3s;
$controlSize: 60px;
$slider__control-color: #e2e2e2;